  .nav-container{

    .navbar{
      display: flex !important;
      justify-content: space-between !important;
    }
    .nav-list{
        display: flex;
        align-items: center;
        list-style: none;

        .nav-item {
            text-transform: uppercase;
            cursor: pointer;
            color: gray;
            min-width: 80px;
            text-decoration: none;
            width: 180px;
          }
          
          .nav-item:hover {
            color: #0652DD;
            font-weight: bold;
            transition: all 0.1s ease-in-out;
          }

          .nav-item.active {
            color: #0652DD;
            font-weight: bold;
            transition: all 0.1s ease-in-out;
          }

          @keyframes spring {
            15% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(1.2, 1.1);
            }
            40% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(0.95, 0.95);
            }
            75% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(1.05, 1);
            }
            100% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(1, 1);
            }
          }
      }

      .nav-link{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
      }
  }
  