  .nav-container{
    background: #1E1F25;

    .nav-list{
        display: flex;
        height: 80px;
        min-width: 100px;
        align-items: center;
        list-style: none;

        .nav-item {
            padding: 1rem 2rem 1.15rem;
            text-transform: uppercase;
            cursor: pointer;
            color: #ebebeb;
            min-width: 80px;
            margin: auto;
            text-decoration: none;
            width: 180px;
            text-align: center;
          }
          
          .nav-item:hover {
            background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
            background-size: 100% 100%;
            color: #27262c;
            animation: spring 300ms ease-out;
            text-shadow: 0 -1px 0 #ef816c;
            font-weight: bold;
          }

          .nav-item.active {
            transform: translateY(4px);
            background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
            background-size: 100% 100%;
            color: #27262c;
            animation: spring 300ms ease-out;
            text-shadow: 0 -1px 0 #ef816c;
            font-weight: bold;
          }

          @keyframes spring {
            15% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(1.2, 1.1);
            }
            40% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(0.95, 0.95);
            }
            75% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(1.05, 1);
            }
            100% {
              -webkit-transform-origin: center center;
              -webkit-transform: scale(1, 1);
            }
          }
      }
  }
  